<form method="post", action="/new">
ID of post:<br />
<input type="text" placeholder="ENTER YOUR ID" name="id"><br />
<br />
POST:<br />
<textarea name="content" placeholder="TYPE SOMENTHING"></textarea><br />
<input type="submit" value="SUBMIT">
</form>